.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: bisque;
  height: 40px;
  width: 500px;
  margin: 0 auto;
}

.navLink {
  text-decoration: none;
  color: mediumseagreen;
  font-size: 24px;
}
.movieLink {
  text-decoration: none;
  color: mediumseagreen;
  font-size: 24px;
}
.active {
  color: olivedrab;
}
