.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnLoadMore {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background-color: darkseagreen;
  font-size: 15px;
}
